<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/saveStudent}" th:object="${student}">
    Name: <input type="text" th:field="*{name}">
    Score: <input type="text" th:field="*{score}">
    <input type="submit" value="Save">
    <input type="reset" value="Reset">
</form>
</body>
</html>